.app-store {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: $page-padding-xs;
  padding-left: $page-padding-xs;

  color: white;

  background-color: #37b7ec;

  @media (min-width: $screen-sm) {
    padding-right: $page-padding-sm;
    padding-left: $page-padding-sm;
  }

  @media (min-width: $screen-lg) {
    display: none;
  }

}

.app-store__logo {
  display: inline-block;
  margin-right: 7.5px;
  width: 32px;
  height: 32px;

  vertical-align: middle;

  border-radius: 50%;
}

.app-store__info {
  margin-top: 10px;
  margin-bottom: 8.5px;

  vertical-align: middle;
}

.app-store__header {
  margin: 0;

  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.app-store__description {
  margin: 0;

  font-size: 11px;
  line-height: 12px;

  &:first-letter {
    text-transform: uppercase;
  }

  @media (min-width: $screen-sm) {
    &:first-letter {
      text-transform: none;
    }
  }
}

.app-store__addition {
  display: none;

  @media (min-width: $screen-sm) {
    display: inline;
  }
}

.app-store__agent {

  &--apple {
    display: none;
  }
  &--android {
    display: inline;
  }

  /* в соответствии с макетом */
  @media (min-width: $screen-sm) {
    &--apple {
      display: inline;
    }
    &--android {
      display: none;
    }
  }
}

.app-store__button {

  &--download {
    margin-right: 3.625%;
    margin-left: auto;
  }
  &--close {
    padding: 5px;

    border: none;
    background-color: transparent;
    border-radius: 0;

    svg {
      stroke: white;
    }
  }

  @media (min-width: $screen-sm) {
    &--download {
      margin-right: 3.255%;
    }
  }
}
