.list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-left: 28px;

  &--active .list__title::before {
    background-image: url(../img/svg/list--active.svg);
    /* устанавливает иконку для активного списка */
  }

  @media (min-width: $screen-sm) {

    &:not(:last-of-type) {
      @mixin bottom-border #bdbdbd;
    }
  }
}

.list__info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;

  margin-bottom: 5px;

  font-size: 0;

  background: #f7f8f8;
  cursor: pointer;

  @media (min-width: $screen-sm) {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.list__items {
  margin: 0;
  padding-left: 0;
}

.list__item {
  margin-bottom: 5px;
}

.list__title {
  position: relative;

  display: inline-block;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;

  &--top {
    margin-top: 0;
  }

  &::before {
    position: absolute;
    top: 2px; left: -28px;

    display: block;
    width: 16px;
    height: 14px;

    background: url(../img/svg/list.svg) center no-repeat;
    background-size: contain;

    content: "";
  }

  @media (min-width: $screen-sm) {
    width: auto;
    margin: 0;
    margin-right: auto;
  }

}
.list__time {
  display: inline-block;
  margin-right: auto;

  text-align: left;
  font-size: 16px;
  color: #858585;

  @media (min-width: $screen-sm) {
    margin-right: 40px;
  }

}
.list__length {
  display: inline-block;

  text-align: right;
  font-size: 16px;
  color: #858585;

  @media (min-width: $screen-sm) {

  }

}
