.map {
  position: relative;
  margin-top: 23px;
  padding-bottom: 20px;

  @mixin bottom-border #bdbdbd;

  @media (min-width: $screen-sm) {
    margin-top: 24px;
    padding-bottom: 17px;
  }
  @media (min-width: $screen-lg) {
    padding-bottom: 19px;
  }
}
.map__container {
  display: inline-block;
  width: 100%;
  height: 55vw;

  background: url(../img/map@3x.png) center no-repeat;
  background-size: cover;

  @media (min-width: $screen-sm) {
    width: 300px;
    height: 200px;
    margin-right: 11px;
  }
}

.map__info {
  display: inline-block;
  width: 100%;

  vertical-align: top;

  @media (min-width: $screen-sm) {
    width: 300px;
  }
  @media (min-width: $screen-lg) {
    margin-top: 1px;
    width: 500px;
  }
}

.map__header {
  margin-top: 8px;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  color: #383838;

  @media (min-width: $screen-sm) {
    margin-top: 0;
  }
  @media (min-width: $screen-sm) {
    margin-bottom: 4px;
  }
}
.map__address {
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #858585;
}
.map__state {
  display: inline-block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 12px;

  color: #858585;
}
.map__link {
  color: #00adff;

  &:link, &:visited {
    color: #00adff;
  }
}
