.page-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  padding-right: $page-padding-xs;
  padding-left: $page-padding-xs;

  text-align: right;

  @media (min-width: 1000px) {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__user {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 264px;

  font-size: 16px;
  font-weight: normal;
  color: #2c2f31;

  @media (min-width: $screen-sm) {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 18px;

    font-size: 18px;
  }
}

.page-header__avatar {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 13px;

  @media (min-width: $screen-sm) {
    width: 48px;
    height: 48px;
  }
}

.page-header__button {
  display: inline-block;
  margin-right: 18px;
  margin-left: auto;
  padding: 9px 8px;
  order: 0;

  font-size: 13px;
  color: white;

  background-color: #37b7ec;

  @media (min-width: $screen-sm) {
    margin-right: 0;
    margin-bottom: 10px;
    order: 4;
  }
}

.page-header__post-header {
  width: 100%;
  order: 3;

  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #2c2f31;

  @media (min-width: $screen-sm) {
    width: 50%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  @media (min-width: $screen-lg) {
    font-size: 20px;
  }
}
