.page-header {
  padding-right: 3.75%;
  padding-left: 3.75%;

  text-align: right;
}

.page-header__account-status {
  display: flex;
  align-items: center;
  // margin-right: -3.75%;
  // margin-left: -3.75%;
  // padding-right: 3.75%;
  // padding-left: 3.75%;
  margin-right: -4%;
  margin-left: -4%;
  padding-right: 4%;
  padding-left: 4%;

  background-color: #3c434a;
}

.page-header__main-header {
  font-size: 0;
}

.page-header__logo {
  width: 108px;
  height: 26px;
}

.page-header__link {
  margin-top: 16px;
  margin-bottom: 14px;

  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;

  &--signup {
    margin-left: auto;
    margin-right: 24px;

    color: #37b7ec;
  }
  &--login {}
}

.page-header__addition {
  display: none;
}

.page-header__offer {
  display: none;
}

.page-header__user {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
  color: #2c2f31;
}

.page-header__avatar {
  width: 2.375em;
  height: 2.375em;
  margin-right: 13px;
}

.page-header__button {
  display: inline-block;
  margin-right: 18px;
  padding: 9px 8px;

  font-size: 13px;
  color: white;

  background-color: #37b7ec;
}

.page-header__post-header {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #2c2f31;
}
