.social {
  display: block;
  order: 2;
  max-width: 140px;
  margin: 0;
  padding: 0;

  vertical-align: middle;

  @mixin clearfix;

  @media (min-width: $screen-sm) {
    width: 40%;
    max-width: none;
    margin-left: auto;
  }
}
.social__item {
  display: none;

  &--toggle {
    display: block;
  }

  @media (min-width: $screen-sm) {
    display: inline-block;
    margin-bottom: -4px;

    &--toggle {
      display: none;
    }
  }
}

.social__toggle {
  position: relative;

  min-width: 140px;
  padding: 9px 8px;
  padding-left: 25px;

  font-size: 13px;
  color: #3c434a;

  cursor: pointer;

  svg {
    position: absolute;
    top: 7px; left: 38px;
    display: inline-block;
    margin-right: 0.5em;
    fill: #37b7ec;
  }
}

.social__button {
  display: inline-block;
  width: 27px;
  height: 27px;
  padding: 5px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  svg {
    fill: white;
  }
}

.social__link {
  display: inline-block;
  margin-left: 22px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 6px;

  font-size: 13px;
  color: white;

  border-radius: 4px;
  background-color: #92b6c4;
}
