.social {
  display: inline-block;
  float: right;
  width: 50%;
  max-width: 140px;
  margin: 0;
  margin-right: 5px;
  padding: 0;

  vertical-align: middle;

  @mixin clearfix;
}
.social__item {
  display: none;

  &--toggle {
    display: block;
  }
}

.social__toggle {
  position: relative;

  min-width: 140px;
  padding: 9px 8px;
  padding-left: 20px;

  font-size: 13px;
  color: #3c434a;

  svg {
    position: absolute;
    top: 6px; left: 35px;
    display: inline-block;
    margin-right: 0.5em;
  }
}

.social__link {}
.social__button {}
