*, *::after, *::before {
  box-sizing: border-box;

  font-family: $font-helvetica;
}

*:link, *:visited {
  text-decoration: none;
  color: auto;
}

ul {
  list-style: none;
}

html {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

body {
  background-color: $body-background;
  background-image: url(../img/pat.png);
  background-repeat: repeat;
  background-position: 0px 40px;
}
