/*
  отступы
*/
$page-padding-xs:        3.75%;
$page-padding-sm:        3.125%;

$media-padding-xs:       3.25px;
$media-padding-sm:       6.4px;

/*
  media
*/
$screen-xs:              320px;
$screen-sm:              768px;
$screen-lg:              1200px;
$screen-xl:              1440px;
$screen-hd:              1900px;

$screen-xs-min:          321px;

/*
  цвета
*/
$body-background:        #adc9d4;

/*
  типографика
*/
$font-helvetica:          "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:          16px;
$line-height-base:        1.35;
